---
---
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Julius+Sans+One');

body {
  @extend .container;
  background: url('../img/bg-s.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Crimson Text', serif;;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

@media only screen and (min-width : 320px) and (min-width : 480px) and (min-width : 768px) {
  body {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Crimson Text', serif;;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Julius Sans One', sans-serif;
  color: #ADD8E6;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
  margin: 1.2em auto 0.8em auto;
}

h3 {
  font-size: 1.75em;
}

section {
  margin: 0;
}

a, a:hover, a:visited {
  color: #FFFF00;
}

a {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ul {
  @extend .list-inline;
}

li img {
  display: block;
  margin: auto;
  width: 3em;
  height: 3em;
}

li img figcaption {
  margin-top: 0.5em;
}

#contacts, #bio {
  @extend .row;
}

#contacts {
  @extend .col-md-8;
  @extend .col-md-offset-2;
  margin-top: 0;
}

#contacts dt, #contacts dd {
  margin-top: 1em;
}

#contacts dt {
  @extend .col-md-4;
  display:inline-block;
  text-align: right;
}

#contacts dd {
  @extend .col-md-8;
  text-align: left;
}
