@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Quattrocento:wght@700&display=swap');

body {
  font-family: 'Fanwood Text', serif;
  font-size: 1.2em;
}

a {
  font-weight: bold;
}

h1, h2 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  color: #b20303;
}

header h1 {
  font-size: 4em;
  text-align: center;
}

section {
  margin: 4em 0 2em 0;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.4em;
}

h2 strong {
  padding-left: 0.4em;
  color: inherit;
}

footer {
  width: 75%;
  margin: 2em auto;
  text-align: center;
  font-size: 0.8em;
}

#bio #bio-image {
  display: block;
  transform: rotate(5deg);
}

#bio #bio-text {
}

#nofeed, #contacts {
  margin: 4em auto;
}

#social {
  padding-top: 1em;
}
