<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="Nicholas Wieland's tiny home on the interwebs, with a tiny intro and contact informations." />
    <link rel="canonical" href="https://nofeed.org" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ngw" />
    <meta name="twitter:title" content="NoFeed ~ Nicholas Wieland personal website" />
    <meta name="twitter:description" content="Nicholas Wieland's home on the interwebs." />
    <meta name="twitter:image" content="img/profile.jpg" />
    <meta property="og:image" content="img/profile.jpg"/>
    <meta property="og:title" content="NoFeed ~ Nicholas Wieland personal website" />
    <meta property="og:url" content="https://nofeed.org" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="css/site.css">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>

  <body>
    {{ content }}
  </body>
</html>
