<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="Nicholas Wieland's and NoFeed Limited's tiny home on the interwebs." />
    <link rel="canonical" href="https://nofeed.org" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ngw" />
    <meta name="twitter:title" content="NoFeed ~ Nicholas Wieland personal website" />
    <meta name="twitter:description" content="Nicholas Wieland's home on the interwebs." />
    <meta name="twitter:image" content="img/profile.jpg" />
    <meta property="og:image" content="img/profile.jpg"/>
    <meta property="og:title" content="NoFeed ~ Nicholas Wieland personal website" />
    <meta property="og:url" content="https://nofeed.org" />
    <meta property="og:type" content="website" />
    <link href="https://fonts.googleapis.com/css?family=Fanwood+Text|Quattrocento:700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    {{ content }}
  </body>
</html>
